#root {
  text-align: center;
}

body {
  overflow: scroll;
}

.table {
  max-width: 90%;
  margin: 3rem auto;
  overflow: scroll;
}

.clickable {
  user-select: none;
  cursor: pointer;
}

.searchBox {
  max-width: 90%;
  margin: auto;
  padding: 8px 0.5rem 0.5rem 0.5rem;
  font-weight: bold;
}

th.custom-width-num {
  width: 40px; 
}
th.custom-width-pub {
  width: 120px; 
}
th.custom-width-link {
  width: 100px; 
}
th.custom-width-thumb {
  width: 500px; /* Intentially too small, making it squeeze img */
}
td.thumb-col {
  padding-bottom: 3px;
}

th > span, td > span {
  vertical-align: middle;
}

svg {
  max-width: 25px;
}
svg.asc {
  transform: rotate(180deg);
}

