#root {
  text-align: center;
}

.table {
  max-width: 90%;
  margin: 2rem auto;
}

.clickable {
  user-select: none;
  cursor: pointer;
}

th.custom-width-pub {
  width: 120px; /* Set a specific width for this column */
}
th.custom-width-link {
  width: 100px; /* Set a specific width for this column */
}
th > span {
  vertical-align: middle;
}

svg {
  max-width: 25px;
}
svg.asc {
  transform: rotate(180deg);
}

